// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-up {
  text-align: center;
  margin-top: 300px;
}

.hero h1 {
  text-align: center;
  font-size: 200px;
  font-family: sans-serif;
}

body {
  background-color: rgba(212, 216, 212, 0.25);
}
